/* Header */
.header{
    backdrop-filter: blur(15px);
    color: var(--title-color);
    width: 100%;
    z-index: 50;
    position: fixed;
    top: 0;
    font-weight: bolder;
}
.logo{
    display: flex;
    align-items: center;
    height: 50px;
}
.navbar{
    float: right;
}
.nav-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
}
.nav-item > .active{
    color: var(--red);
}
.nav-link{
    color: #CED6ED !important;
}
.nav-link:hover{
    color: var(--title-color);
    text-decoration: none;
}




/* Hero */
.hero{
    top: 0 !important;
    left: 0;
    background-image: url(../../public/images/HeroBackground.png);
    min-height: 100vh;
    background-size: cover;
    background-position:bottom;
}
.h-tagline{
    font-size: 35px;
    letter-spacing: 2px;
}
.input-field{
    background-color: rgba(255, 255, 255, 0.13);
    padding: 10px 25px;
    border-radius: 30px;
}
.input-field > p{
    font-size: 14px;
}
.input-field > input{
    border: none;
    color: var(--white);
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.105);
    width: 100%;
    font-size: 20px;
    outline: none;
    margin-top: -20px;
}   



/* Benifits */
.benifit-component > img{
    height: 60px;
}


/* Mission */
.mission{
    background-image: url(../../public/images/MainBackground.png);
    min-height: 100vh;
    background-size:cover;
    background-position:center;
}
.txt-grid{
    display: grid;
    grid-template-columns: 20px 1fr;
    font-size: 15px;
}
.txt-grid > img{
    height: 15px;
}



/* Footer */
.footer{
    background-image: url(../../public/images/FooterBackground.png);
    min-height: 50vh;
    background-size: cover;
    background-position:top;
}



/* Slider */
.slider-img{
    background-image: url(../../public/images/FooterBackground.png);
    min-height: 50vh;
    background-size: cover;
    background-position:top;
}
.carousel{
    width: 100% ;
}
.carousel-item{
    width: 100% !important;
}
.carousel-item > div{
    height:400px;
    display: flex;
    justify-content: center;
}


.Model {
    position: absolute;
    top: 0;
    margin-top: 20vh;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    background-color:#fdf8f2;
    border-radius: 30px;
    max-width: 600px;
    padding:40px;
    box-shadow: 0px 40px 70px rgba(0, 0, 0, 0.368);
  }
  .close{
      cursor: pointer;
  }
  .Engp{
      height: 150px;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 14px;
      padding: 10px;
  }
  .btn-modal{
      cursor: pointer;
  }



@media only screen and (max-width: 900px) {
    .mt20-s{
        margin-top: 20px;
    }
    .mt50-s{
        margin-top: 50px;
    }
    .mt100-s{
        margin-top: 100px;
    }
}