@import url(//db.onlinewebfonts.com/c/ff9f9b187dc224f3f985a8fadbd88d45?family=AllRoundGothicW01-Medium);

* {
  margin: 0;
  --yellow: #FCAF00;
  --white: #ffff;
  --red: #DF2839;
  --green: #038E80;
  font-family: "AllRoundGothicW01-Medium";
}

@font-face {
  font-family: "AllRoundGothicW01-Medium";
  src: url("//db.onlinewebfonts.com/t/ff9f9b187dc224f3f985a8fadbd88d45.eot");
  src: url("//db.onlinewebfonts.com/t/ff9f9b187dc224f3f985a8fadbd88d45.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ff9f9b187dc224f3f985a8fadbd88d45.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ff9f9b187dc224f3f985a8fadbd88d45.woff") format("woff"), url("//db.onlinewebfonts.com/t/ff9f9b187dc224f3f985a8fadbd88d45.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ff9f9b187dc224f3f985a8fadbd88d45.svg#AllRoundGothicW01-Medium") format("svg");
}

.text-green{
  color: var(--green);
}
.text-red{
  color: var(--red);
}
.text-yellow{
  color: var(--yellow);
}

/* Button */
.btn-yellow{
  background-color: var(--white);
  border-radius: 50px;
  padding: 15px 25px;
  border: none;
  outline: none;
  color: var(--yellow);
  text-decoration: none;
  transition: 0.25s;
  cursor: pointer;
}
.btn-yellow:hover{
  color: var(--white);
  background-color: var(--yellow);
  text-decoration: none;
}